In [1]:
import pandas as pd

## Data preparation

### Import data

In [2]:
data = pd.read_csv("/kaggle/input/d/rabieelkharoua/students-performance-dataset/Student_performance_data _.csv")
data.head(10)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
5,1006,18,0,0,1,8.191219,0,0,1,1,0,0,0,3.084184,1.0
6,1007,15,0,1,1,15.601680,10,0,3,0,1,0,0,2.748237,2.0
7,1008,15,1,1,4,15.424496,22,1,1,1,0,0,0,1.360143,4.0
8,1009,17,0,0,0,4.562008,1,0,2,0,1,0,1,2.896819,2.0
9,1010,16,1,0,1,18.444466,0,0,3,1,0,0,0,3.573474,0.0

### Missing values

In [3]:
data.isnull().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

There are no missing values

### Duplication

In [4]:
sum(data.duplicated())

0

There are no duplicated rows

### Change data types

In [5]:
data.nunique()

StudentID            2392
Age                     4
Gender                  2
Ethnicity               4
ParentalEducation       5
StudyTimeWeekly      2392
Absences               30
Tutoring                2
ParentalSupport         5
Extracurricular         2
Sports                  2
Music                   2
Volunteering            2
GPA                  2371
GradeClass              5
dtype: int64

In [6]:
data["Age"] = data["Age"].astype("category")
data["Ethnicity"] = data["Ethnicity"].astype("category")
data["ParentalEducation"] = data["ParentalEducation"].astype("category")
data["ParentalSupport"] = data["ParentalSupport"].astype("category")
data["GradeClass"] = data["GradeClass"].astype("category")

data["Gender"] = data["Gender"].astype("bool")
data["Tutoring"] = data["Tutoring"].astype("bool")
data["Extracurricular"] = data["Extracurricular"].astype("bool")
data["Sports"] = data["Sports"].astype("bool")
data["Music"] = data["Music"].astype("bool")
data["Volunteering"] = data["Volunteering"].astype("bool")

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   category
 2   Gender             2392 non-null   bool
 3   Ethnicity          2392 non-null   category
 4   ParentalEducation  2392 non-null   category
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   bool
 8   ParentalSupport    2392 non-null   category
 9   Extracurricular    2392 non-null   bool
 10  Sports             2392 non-null   bool
 11  Music              2392 non-null   bool
 12  Volunteering       2392 non-null   bool
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   category
dtypes: bool(6), category(5), float64(2), int64(2)
memory usage: 101.6 KB

## Exploratory Data Analysis

### Basic statistics

In [8]:
data.describe()

         StudentID  StudyTimeWeekly     Absences          GPA
count  2392.000000      2392.000000  2392.000000  2392.000000
mean   2196.500000         9.771992    14.541388     1.906186
std     690.655244         5.652774     8.467417     0.915156
min    1001.000000         0.001057     0.000000     0.000000
25%    1598.750000         5.043079     7.000000     1.174803
50%    2196.500000         9.705363    15.000000     1.893393
75%    2794.250000        14.408410    22.000000     2.622216
max    3392.000000        19.978094    29.000000     4.000000